apiVersion: v1
kind: Service
metadata:
  name: meeting
  namespace: mesh4java
  labels:
    app: meeting
spec:
  type: ClusterIP
  ports:
    - port: 8080
      protocol: TCP
      appProtocol: http
  selector:
    app: meeting
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: meeting
  namespace: mesh4java
  labels:
    app: meeting
spec:
  replicas: 1
  selector:
    matchLabels:
      app: meeting
  template:
    metadata:
      labels:
        app: meeting
    spec:
      containers:
        - name: meeting
          image: gamussa/mesh4java-meet:latest
          imagePullPolicy: Always
